.chatHolder {
    display: grid;
    grid-template-rows: 1fr 300px;
    position: absolute;
    z-index: 999;
    background: white;
    right: 15px;
    margin-top: -480px;
    font-family: Montserrat, mono-sans;
    border-radius: 4px;
    min-width: 300px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    animation: 0.5s chatAnimation;
    & .title {
        padding: 1rem;
        height: fit-content;
        font-family: MontserratBold, mono-sans;
        text-align: center;
        background: #2B193D;
        color: #F8F2F3;
        border-radius: 3px 3px 0 0;
    }
    & .chatText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        padding: 1em;
        overflow-y: auto;
        border-bottom: 1px solid #F1F5F8;
    }
    & .form {
        display: grid;
        grid-template-columns: 1fr 50px;
        height: 50px;
        border: 1px solid #fff;
        border-radius: 0 0 4px 4px;
        & .textarea {
            /* padding: 1em;
            font-size: 1.2em; */
            border: none;
            line-height: 2rem;
            border-radius: 0 0 4px 4px;
            resize: none;
            &:focus {
                outline: none !important;
                outline-offset: 0px !important;
                --tw-ring-color: white;
            }
        }
        & .button {
            border: 0;
            border-radius: 0 0 4px 0;
            color: #2B193D;
            filter: brightness(1.75);
            font-size: 1rem;
            transform: rotate(45deg);
            margin-left: -5px;
            & i {
                font-size: 1.5rem;
            }
            &:hover {
               filter: brightness(1);
            }
        }
    }
}
.button:disabled,
.button:hover:disabled {
    opacity: 0.5;
    color: #2B193D;
}

.message {
    background-color: #eef5f8;
    padding: 0.75rem;
    border-radius: 10px;
    flex-grow: 0;
    border-bottom-left-radius: 0;
}

@keyframes chatAnimation {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

