#instafeed-container {
    /* display: block;
    justify-content: center;

    flex-wrap: wrap;
    padding: 0rem 2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & .ig-li {
        /* padding: 1rem 2rem;
        display: flex;
        flex-direction: column; */
        & img {
            min-height: 125px;
            max-height: 125px;
            min-width: 125px;
        }
        & .text-ig-container {
            margin-top: 1rem;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 15px; /* fallback */
            max-height: 80px; /* fallback */
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
            & p {
                color: #2B193D;
                font-family: 'Montserrat';
                min-height: 45px;
                font-size: 12px;
                padding: 0 10px;

            }
        }
        & .button-link {
            & button {
                background: #2B193D;
                color: #F8F2F3;
                font-family: 'MontserratBold';
                display: flex;
                justify-content: center;
                width: 90%;
                margin: 1rem auto;
                padding: 0.25rem 0;
                border-radius: 3px;
                font-size: 14px;
            }
            &:hover {
                background: #3D2357;
            }
        }
    }

}

@media (min-width:600px) {
    #instafeed-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 0px 15vw 5vw 15vw !important;
        gap: 1.25vw 2.5vw;
        & .ig-li {
            padding: 0;
            & img {
                min-height: 20vw !important;
                width: 100%;
            }
            & .text-ig-container {
                word-break: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: 20px; /* fallback */
                max-height: 80px; /* fallback */
                -webkit-line-clamp: 3; /* number of lines to show */
                -webkit-box-orient: vertical;
                & p {
                    min-height: 60px;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    padding: 0;
                }
            }
            & .button-link {
                & button {
                padding: 0.5rem 0;
                font-size: 1.25rem;
                }
            }
        }
    }
}
#instafeed-container > div:nth-child(3) {
    display: none;
}