#github-btn {
    width: 100%;
    margin-bottom: 1rem;
    background: #2F3337;
    border: 1px solid #2F3337;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#google-btn {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #D6D9DC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typewriter-cursor-1 {
    display: none !important;
}
.typewriter-cursor-2 {
    color: #A7626B;
}
@media (max-width: 1920px) {
    #google-btn {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .Typewriter {
       font-size: 2rem;
    }
}

/* HOME CONTENT TEXT */
.home-title {
    font-size: 2.5rem;
    font-family: 'MontserratBold';
    color: #C5979D;
    text-shadow: 1px 0px 1px rgba(43, 25, 61, 0.75);
    margin-top: 1.5rem;
    /* text-transform: uppercase; */
    text-align: center;
}
.home-text-largedevice {
    color: #2B193D;
    padding: 0 2rem 3rem 2rem;
    font-size: 1.25rem;
    text-align: center;
    display: block;
    background: #F8F2F3;
    & i {
        cursor: pointer;
        background: #2B193D;
        color: #fff;
        border-radius: 50%;
        padding: 18px 10px;
        padding-right: 13px;
        line-height: 5px;
        transition: 0.2s;
    }
    & i:hover {
        background: #2C365E;
        transition: 0.2s;
    }
}
.home-text-smalldevice {
    display: none;
}
@media (max-width: 768px) {
    .home-title {
        font-size: 2rem;
        margin-top: 0.5rem;
        & span {
            display: block;
        }
    }
    .home-text-smalldevice {
        color: #2B193D;
        padding: 0 2rem 3rem 2rem;
        font-size: 1.25rem;
        text-align: center;
        display: block;
    }
    .home-text-largedevice {
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 1023px) {
    .home-text-largedevice {
        background: #fff;
    }
}

/* HOME CONTENT TEAM COMPONENT */
.icon-team {
    transition: 0.2s;
    &:hover {
        background: #F8F2F3;
        border-radius: 50%;
        filter: brightness(104%);
        transition: 0.2s;
    }
}