#github-btn {
    width: 100%;
    margin-bottom: 1rem;
    background: #2F3337;
    border: 1px solid #2F3337;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#google-btn {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #D6D9DC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typewriter-cursor-1 {
    display: none !important;
}
.typewriter-cursor-2 {
    color: #A7626B;
}
@media (max-width: 1920px) {
    #google-btn {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .Typewriter {
       font-size: 2rem;
    }
}

/* HOME CONTENT CUBE COMPONENT */
.home-title {
    font-size: 1.5rem;
    font-family: 'MontserratBold';
    color: #C5979D;
    text-shadow: 3px 2px 3px rgba(43, 25, 61,.2);
    /* text-transform: uppercase; */
    text-align: center;
}
@media (max-width: 600px) {
    .home-title {
        font-size: 1.25rem;
    }
  }
/* HOME CONTENT TEAM COMPONENT */
.icon-team {
    &:hover {
        background: #F8F2F3;
        border-radius: 50%;
        filter: brightness(104%);
    }
}