#default-pic {
    filter: invert(15%) sepia(23%) saturate(142%) hue-rotate(50deg) brightness(69%) contrast(101%);
    border: 1px solid #2B193D;
}
/* dropdown (usado en el nav) */
.dropdown-menu.show {
    transform: translate(0%, 65%);
    width: 100%;
    position: absolute;
    left: 0;
  }
