#default-pic {
    filter: invert(15%) sepia(23%) saturate(142%) hue-rotate(50deg) brightness(69%) contrast(101%);
    border: 1px solid #2B193D;
}
/* dropdown (usado en el nav) */
.dropdown-menu.show {
    transform: translate(0%, 65%);
    width: 100%;
    position: absolute;
    left: 0;
  }

  #dropdownMenu > ul > li > a {
      text-shadow: 1px 0px 1px rgba(197, 151, 157, 0.5);
      transition: 0.2s;
      &:hover {
          text-shadow: none;
          text-shadow: 1px 0px 1px rgba(43, 25, 61, 0.1);
          color: #484D6D;
          transition: 0.2s;
    }
  }