
.resourcescontainer {
    padding: 1rem;
    & .resource {
        border: 1px solid #d2d6dc;
        border-radius: 3px;
        transition: 0.25s;
        min-height: 260px;

        &:hover {
            box-shadow: 0 8px 30px 0 rgba(0,0,0, 12%);
            border: none;
            transition: 0.25s;
        }
        & .title-img {
            & span {
                max-height: 50px;
                min-width: 50px;
            }
        }
        & h2 {
            text-transform: capitalize;
            margin: auto 0;
        }
        & p {
            min-height: 100px;
        }
        & button {
            & span {
                display: flex;
                align-items:center;
                &:hover {
                    color: #4B8F8C;
                    filter: brightness(1.1);
                }
            }
        }
        & ul {
            display: flex;
            flex-wrap:wrap;
            width: 105%;
            & li {
                margin: 0 1rem 0 0;
            }
        }
    }
}