
.resourcescontainer {
    padding: 1rem;
    & .resource {
        border: 1px solid #d2d6dc;
        border-radius: 3px;
        transition: 0.25s;
        &:hover {
            box-shadow: 0 8px 30px 0 rgba(0,0,0, 12%);
            border: none;
            transition: 0.25s;
        }
        & h2 {
            text-transform: capitalize;
            margin: auto 0;
        }
        & ul {
            display: flex;
            & li {
                margin: 0 1rem 0 0;
            }
        }
    }
}