@import "../components/Nav.css";
@import "../components/Login.css";
@import "../components/Topresources.css";
@import "../components/Tech.css";
@import "../components/Instagram.css";
@import "../components/Footer.css";
@import "../components/SearchBar.css";
@import "../pages/resources.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/MontserratRegular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratBold';
    src: url('/fonts/MontserratSemiBold.woff2') format('woff2');
    font-style: bold;
    font-display: swap;
    font-weight: 600;
  }
}

body {
  width: 100% !
}

ul {
    margin: 0px;
    padding: 0px !important;
}
a:hover {
  cursor:pointer;
  color: inherit;
}

 /* FORM CONSENT STYLES */
 .cookies-text-container {
  background: #2B193D !important;
  padding-bottom: 1rem !important;
  -webkit-animation: fadeInUp;
  animation: fadeInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  & .cookies-btn-container {
    margin: 0 auto !important;
    width: 100%;
    padding: 0 2rem;
    & #rcc-confirm-button {
      background: #4B8F8C !important;
      padding: 0.5rem 1rem !important;
      margin-bottom: 0.5rem !important;
      border-radius: 50px !important;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    & #rcc-decline-button {
      text-decoration: underline;
      padding: 0.5rem !important;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
  }
}
@media (min-width: 600px) {
  .cookies-btn-container {
    width: initial !important;
    align-self: center;
  }
}
/* END FORM CONSENT STYLES */

/* TOAST */
.Toastify__progress-bar-theme--light {
  background: linear-gradient(
  to right,
  #3D2357,
  #2B193D,
  #29183A,
  #1F122B,
  #140C1D,
  #0A060E
  ) !important;
}

.instagramPostsContainer {
  display: flex;
  width: 88%;
  margin: 0 auto;
  justify-content: space-evenly;
  min-height: 620px;
}

@media only screen and (max-width: 767px) {
  .instagramPostsContainer {
      display: none;
      visibility: hidden;
  }
  .instagramPostsContainerResponsive {
    margin: 0em 1em;
    width: 95vw;
    display: flex;
    overflow: scroll;
      & .rsme-embed {
        flex-shrink: 0;
        margin-right: 15px;
        touch-action: none;
      }
    }
}
@media only screen and (min-width: 768px) {
  .instagramPostsContainerResponsive {
      display: none;
      visibility: hidden;
  }
}
