@import "../components/Nav.css";
@import "../components/Login.css";
@import "../components/Topresources.css";
@import "../components/Tech.css";
@import "../components/Footer.css";
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/MontserratRegular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratBold';
    src: url('/fonts/MontserratSemiBold.woff2') format('woff2');
    font-style: bold;
    font-display: swap;
    font-weight: 600;
  }
}

ul {
    margin: 0px;
    padding: 0px !important;
}
a:hover {
  cursor:pointer;
  color: inherit;
}

 /* FORM CONSENT STYLES */
 .cookies-text-container {
  background: #2B193D !important;
  padding-bottom: 1rem !important;
  -webkit-animation: fadeInUp;
  animation: fadeInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  & .cookies-btn-container {
    margin: 0 auto !important;
    width: 100%;
    padding: 0 2rem;
    & #rcc-confirm-button {
      background: #4B8F8C !important;
      padding: 0.5rem 1rem !important;
      margin-bottom: 0.5rem !important;
      border-radius: 50px !important;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    & #rcc-decline-button {
      text-decoration: underline;
      padding: 0.5rem !important;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
  }
}
@media (min-width: 600px) {
  .cookies-btn-container {
    width: initial !important;
    align-self: center;
  }
}
/* END FORM CONSENT STYLES */

